@import "libs"
@import "base"

.parallax
	position: absolute
	z-index: -1
	transform: translate(-50%, -50%)

	&--sped
		&-seven
			animation: parallax 20s linear infinite
			
		&-six

			animation: parallax 50s linear infinite

		&-five
			animation: parallax 40s ease-in infinite

		&-four
			animation: parallax 30s ease-in infinite

	&--position
		&-seven
			left: 90%
			top: 15%

		&-six
			top: 65%
			left: 95%

		&-five
			top: 50%
			left: 5%

		&-four
			top: 15%
			left: 5%

		&-three
			top: 4%
			left: 5%


.fixed
	background-color: $dark
	box-shadow: 2px 3px 24px rgba(27, 76, 151, 0.26)
	text-align: center
	padding: 15px
	color: #fff
	font-size: 16px


.header
	position: fixed
	top: 52px
	right: 0
	left: 0
	padding: 15px 0
	transition: all .4s
	z-index: 1001

	&--calligraphic
		background-color: rgba(#374da7, .73)
		
	&--active, &--menu
		top: 0 !important
		background-color: rgba($dark, .95)
		padding: 10px 0
		box-shadow: 0 0 10px 0 rgba(#000, .3)

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&__block
		display: flex
		justify-content: space-between
		flex-direction: column
		line-height: 1.2

		a
			position: relative
			z-index: 1
			font-weight: 700
			transition: all .6s

			&::before
				content: ''
				width: 0
				transform: scale(0)
				transition: all .6s
				position: absolute
				bottom: 0
				width: 100%
				height: 1px
				background-color: $accent
				z-index: -1

			&:hover,
			&:focus
				color: $accent
				text-decoration: none
				&::before
					transform: scale(1)

	&__info
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 15px
		border-bottom: 1px solid #fff

		&_item
			position: relative
			padding-left: 50px

			a,
			span
				font-weight: 700
				color: $accent

			span
				font-weight: 300

			div
				position: absolute
				left: 0
				top: 50%
				transform: translate(0, -50%)
				border-radius: 50%
				width: 45px
				height: 45px
				background: rgba(#fff, .42)

			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)

	&__nav
		padding-top: 22px
		
		a
			color: #fff

	.btn
		padding: 0 55px


.nav
	ul
		display: flex
		justify-content: space-between

	li
		margin-right: 55px
		text-transform: uppercase
		&:last-child
			margin-right: 0
	
	&__info
		display: none
		background-size: cover


.hero
	padding: 250px 0 190px

	&::before
		content: ''
		position: absolute
		top: 0
		right: 0
		left: 0
		height: 800px
		width: 100%
		background-image: linear-gradient(to left, #2d418b 0%, #9247c3 50%, #d53ccb 100%)
		z-index: -2

	&__bg
		position: absolute
		right: 0
		left: 0
		top: 0
		bottom: 0
		z-index: -2

		img
			position: absolute
			left: 50%
			top: 0
			transform: translate(-50%, 0)
			z-index: -1
			animation-name: fadein
			animation-duration: 6s
			animation-iteration-count: infinite

			&:nth-child(1)
				animation-delay: 0s
			&:nth-child(2)
				animation-delay: 3s
			&:nth-child(3)
				animation-delay: 6s

	&__sub-title
		font-size: 30px
		color: #fff
		text-align: right
		font-weight: 500
		margin-bottom: 60px
	
	&__btn
		display: flex
		justify-content: flex-end
		align-items: center

		img
			margin-right: 35px
			animation: arrow 1s ease-in infinite

		a
			padding: 0 70px
	

.about
	padding-bottom: 90px
	background-image: url(../img/about-bg.png)
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	h2
		margin-bottom: 60px

		&::before
			content: 'о проекте'
			left: 0


	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 45px

		&_item
			width: 20%
			text-align: center

			p
				text-transform: uppercase

		h3
			position: relative
			font-size: 60px
			font-weight: 700
			line-height: .7
			text-transform: uppercase
			color: $accent
			margin-bottom: 25px

			&::before
				content: ''
				position: absolute
				left: 50%
				bottom: -12px
				transform: translate(-50%, 0)
				width: 50px
				height: 1px
				background: $accent

	&__text
		font-size: 16px
		color: #1a1a1a
		line-height: 1.1
		margin-bottom: 75px

	&__content
		display: flex
		justify-content: space-around
		flex-wrap: wrap

		&_item
			position: relative
			width: 39%
			margin-bottom: 20px
			text-align: center

			&:nth-child(2)
				width: 31%
				top: 25px
				h3
					&::before
						content: url(../img/about-content-item2.png)

			&:nth-child(3)
				width: 35%
				right: 40px

				h3
					&::before
						content: url(../img/about-content-item3.png)

			h3
				position: relative
				text-align: center
				margin-bottom: 55px
				line-height: 1
				color: $accent
				font-size: 30px
				font-weight: 500
				z-index: 1

				&::before
					content: url(../img/about-content-item1.png)
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					z-index: -1

			p
				line-height: 1.6


.vista
	padding-top: 65px
	padding-bottom: 160px
	background-image: url(../img/vista-bg.jpg)
	background-position: top center
	background-repeat: no-repeat

	&::before
		content: ''
		position: absolute
		top: 0
		right: 0
		left: 0
		height: 619px
		width: 100%
		background-image: linear-gradient(to left, #3741a2 0%, #9247c3 50%, #d134cd 100%)
		z-index: -2

	h2
		color: $accent
		margin-bottom: 60px

		&::before
			content: 'Возможности'
			left: 0
	
	p
		width: 60%
		color: #fff
		font-size: 20px
		line-height: 1.2

		b
			text-transform: uppercase
			font-size: 24px
			color: $accent

	&__list
		position: relative
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		z-index: 1

		&_item
			width: 50%
			margin-bottom: 40px

			&:nth-child(2n)
				display: flex
				justify-content: flex-end
				text-align: right

		&_img
			position: absolute
			top: -45px
			left: 50%
			transform: translate(-50%, 0)
			z-index: -1


.bonuse
	padding-top: 70px
	padding-bottom: 130px
	background-image: url(../img/bonuse-bg.png)
	background-position: top center
	background-repeat: no-repeat
	overflow: visible
	z-index: 2

	h2
		margin-bottom: 45px
		text-align: right

		&::before
			content: 'Бонусы'
			right: 0


	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		&_item
			position: relative
			width: 33%
			transition: all .6s

			&:hover
				ul
					opacity: 1
					top: 98%

		ul
			position: absolute
			top: 30%
			left: 50%
			transform: translate(-65%, 0)
			width: 100%
			padding: 30px
			background: #fff
			box-shadow: 0 0 7px rgba(53, 79, 156, 0.22)
			border-radius: 10px
			font-size: 16px
			color: #353535
			opacity: 0
			transition: all .6s

			&::before
				content: ''
				position: absolute
				bottom: 100%
				left: 50%
				transform: translate(-50%, 0)
				border-bottom: 20px solid #fff
				border-left: 20px solid transparent
				border-right: 20px solid transparent
				border-top: 20px solid transparent


		li
			position: relative
			margin-bottom: 25px

			&:last-child
				margin-bottom: 0

		span
			color: #624cb7
			font-size: 36px
			font-weight: 700

		a
			color: $accent


.franchise
	padding-top: 50px
	padding-bottom: 65px
	background-image: url(../img/franchise-bg.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	overflow: visible

	h2
		color: $accent
		margin-bottom: 90px

		&::before
			content: 'тренажеры'
			left: 0

	&__list
		display: flex
		justify-content: space-between
		border-radius: 20px
		border: 2px solid $accent
		margin-bottom: 50px

		&_item
			min-width: 20%
			text-align: center
			border-radius: 20px

			a
				position: relative
				display: block
				padding: 30px 20px
				font-size: 18px
				line-height: 1
				font-weight: 700
				color: $accent
				transition: all .6s
				border-radius: 20px

				&:hover
					background: rgba($accent, .4)

					&::before
						opacity: 1

				&::before
					content: ''
					position: absolute
					top: 100%
					left: 50%
					transform: translate(-50%, 0)
					z-index: 1
					opacity: 1
					border-bottom: 20px solid transparent
					border-left: 20px solid transparent
					border-right: 20px solid transparent
					border-top: 20px solid rgba($accent, .4)
					opacity: 0
					transition: all .6s


			.active
				background: $accent !important
				color: #fff

				&::before
					opacity: 1
					border-top: 20px solid rgba($accent, 1)

	&__tab
		color: #ffffff
		position: relative

		&_img
			position: absolute
			left: 45%
			top: -35px

		ul
			width: 40%

		li
			position: relative
			padding-left: 40px
			margin-bottom: 15px

			&:last-child
				margin-bottom: 0

			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				transform: translate(0, -50%)
				width: 40px
				height: 40px
				background-image: url(../img/franchise-check.png)
				background-size: cover
				background-position: center
				background-repeat: no-repeat


.register
	padding-top: 220px
	padding-bottom: 25px

	h2
		margin-bottom: 50px

		&::before
			content: 'Как зарегистрироваться'
			left: 0

	p
		line-height: 1.2

	&__list
		display: flex
		justify-content: space-between
		font-size: 20px
		font-weight: 500
		color: #434faf
		text-align: center

		img
			display: block
			margin: 0 auto 40px

		b
			font-weight: 800
			text-transform: uppercase

		.btn
			margin-top: 20px

		&_item
			width: 18%


.tariffs
	position: relative
	z-index: 1
	padding-top: 40px
	padding-bottom: 10px

	&::before
		content: ''
		position: absolute
		bottom: 25px
		right: 0
		left: 0
		height: 580px
		background-color: #ebebeb
		z-index: -1

	h2
		margin-bottom: 140px
		color: $accent
		text-align: right

		&::before
			content: 'Тарифы'
			right: 0

	ul
		margin-bottom: 45px
	
	li
		position: relative
		font-size: 20px
		margin-bottom: 5px
		line-height: 1.1

		&::before
			content: '●'
			color: $accent
			position: absolute
			top: 50%
			transform: translate(0, -50%)

	&__block
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		&_item
			width: 30%

			&--left
				li
					padding-left: 20px

					&::before
						left: 0

			&--right
				text-align: right

				li
					padding-right: 20px

					&::before
						right: 0

		&_info
			position: relative
			padding: 40px
			background: #fff
			border-radius: 25px
			box-shadow: 0 0 18px rgba(18, 27, 53, 0.13)

			&--left
				width: 34%
				z-index: 3

				i
					left: 60px


			&--right
				z-index: 1
				width: 29%

				i
					right: 60px

			h3
				font-size: 24px
				color: $dark
				margin-bottom: 30px
				line-height: 1.1
				text-transform: uppercase
				text-align: center

			i
				position: absolute
				top: -13px
				display: block
				width: 27px
				height: 27px
				box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35)
				background: $accent
				border-radius: 50%

				&::before
					content: ''
					position: absolute
					left: 53%
					top: 55%
					width: 10px
					height: 10px
					border-top: 2px solid #fff
					border-left: 2px solid #fff
					transform: translate(-50%, -50%) rotate(45deg)

			p
				color: $accent

			b
				font-size: 72px
				font-weight: 800
				line-height: .8

			span
				text-transform: uppercase
				font-size: 24px

	&__img
		position: absolute
		bottom: 25px
		left: 50%
		transform: translate(-50%, 0)
		z-index: 2
		

.mobile
	position: relative
	padding-top: 115px
	background-image: url(../img/about-bg.png)
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	&::before
		content: ''
		position: absolute
		bottom: 0
		right: 0
		left: 0
		height: 171px
		background-color: #414faf

	h2
		margin-bottom: 100px
		color: $accent
		text-align: right

		&::before
			content: 'программы'
			position: absolute
			right: 0
			opacity: 0.12
			color: #d2d2d2
			font-size: 150px
			font-weight: 800
			line-height: 36px
			text-decoration: line-through
			text-transform: uppercase

	&__container
		position: relative

	&__title
		position: relative
		color: #1e53a6
		font-weight: 500
		font-size: 40px
		line-height: 1.1
		margin-bottom: 105px

		&::before
			content: url(../img/mobile-arrow.png)
			position: absolute
			top: 110%
			left: 0

		b, strong
			font-weight: 900
			text-transform: uppercase

		a
			text-decoration: underline
			color: #1e53a6

	&__block
		width: 50%
		margin-bottom: 80px

		&_gadget
			position: absolute
			right: 0
			top: 0
			top: -95px

		&_qr
			display: block
			margin: 0 auto
			box-shadow: 0 0 10px 5px rgba(0,0,0, .3)

	&__btn
		display: flex
		justify-content: center

		.btn
			position: relative
			max-width: 330px
			width: 100%

			&::before
				content: url(../img/mobile-arrow-btn.png)
				position: absolute
				right: -70px
				bottom: 40px


.reviews
	padding-top: 80px
	padding-bottom: 40px
	background-image: url(../img/reviews-bg.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

	h2
		margin-bottom: 90px
		color: $accent

		&::before
			content: 'о нас говорят'
			left: 0

	&__slide
		position: relative
		color: #fff
		font-size: 20px
		padding-top: 70px
		padding-bottom: 60px

		&::before
			content: '“'
			position: absolute
			left: 0
			top: 0
			color: $accent
			font-size: 150px
			line-height: 1
			font-weight: 800
			text-transform: uppercase

		&_text
			width: 78%
			margin: 0 auto 40px

		&_date
			max-width: 180px
			font-size: 16px
			margin-right: 11% !important
			margin-left: auto

	
	.slick-arrow
		display: none !important

	.slick-dots
		li
			button
				width: 9px
				height: 9px
				background-color: #4cddee
				margin: 0 auto
				border-radius: 50%
				transition: all .6s

				&::before
					display: none
		
		.slick-active
			button
				width: 16px !important
				height: 16px !important


.call
	position: relative
	padding-left: 70px

	a
		color: #fff
		text-transform: uppercase

		&::before
			height: 1px
			width: 100%
			bottom: -1px

	&__absolute
		position: absolute
		top: 50%
		left: 0
		transform: translate(0, -50%)
		width: 55px
		height: 52px
		box-shadow: 0 0 9px rgba(0, 0, 0, 0.3)
		border-radius: 20px
		background-color: rgba(255, 255, 255, 0.41)

		svg
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			fill: #fff
			width: 39px
			height: 39px

		&--tel
			svg
				animation: call 1s linear infinite


.footer
	padding-top: 35px
	padding-bottom: 45px
	background: #2b258f

	p, a
		display: inline-block
		color: #fff

	a
		position: relative
		z-index: 1
		font-weight: 700
		transition: all .6s

		&::before
			content: ''
			width: 0
			transform: scale(0)
			transition: all .6s
			position: absolute
			bottom: 0
			width: 100%
			height: 1px
			background-color: $accent
			z-index: -1

		&:hover,
		&:focus
			color: $accent
			text-decoration: none
			&::before
				transform: scale(1)

	h3
		margin-bottom: 35px
		font-size: 16px
		color: $accent
		text-transform: uppercase

	.active
		&::before
			transform: scale(1) !important

	&__logo
		display: block
		fill: $accent
		margin-bottom: 25px

		&::before
			display: none

		svg
			width: 160px
			height: 55px

	&__line
		width: 100%
		height: 1px
		background: #fff
		margin: 40px 0

	&__list
		li
			margin-bottom: 15px

			&:last-child
				margin-bottom: 0

	&__soc
		display: flex

		a
			margin-right: 10px
			&::before
				display: none

		svg
			width: 26px
			height: 26px
			fill: #fff
			animation: hover-back .6s linear 1 forwards

			&:hover
				animation: hover .6s linear 1 forwards

	&__call
		padding-left: 70px
		margin-bottom: 25px

		a
			padding: 3px 0

			&::before
				bottom: 2px
		
		.call__absolute
			right: auto
			left: 0

	&__link
		margin-bottom: 15px

		&::before
			bottom: -2px
			height: 1px
			width: 100%



@import "page"
@import "media" // Always at the end